
<!-- <meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->

<body> 
   
   <div class="main">
      <div class="container">
	     
		 <div class ="customerData required-field">
	  
	            <label id="cusId">Customer ID</label> <input id="customerId" type="text" name ="id" ><br>
				<label id="subId">Subscription ID</label> <input id="technicalId" type="text" name ="id" ><br>
				<label id="loginName">Login Name</label> <input id="mobile" type="text" name ="id" >
			    <button type="button" id="search" class="btn btn-info" style="border-radius:20px;">Search <i class="fa fa-search"></i>
                </button>
	            
               </div>
			   
		<div class="table-box panel panel-default">
	      <table class="table table-bordered table-sm" >
		    <thead>
			  <tr>
			    <th></th>
			    <th>Login Name</th>
				<th>Password Status</th>
			  </tr>
            </thead>	
            <tbody>
             <tr>
			   <td><input type="checkbox" checked></td>
               <td>sazbo.gabirella</td>
               <td>Password Missing</td>
            </tr>
			<tr>
			   <td><input type="checkbox" ></td>
               <td>sazbo.gabirella1</td>
               <td>Password Generated</td>
            </tr>
			<tr>
			   <td><input type="checkbox" ></td>
               <td>sazbo.gabirella2</td>
               <td>Password Forbidden</td>
            </tr>
            </tbody>			
	       </table>
		   
		   <button type="button"  class="btn btn-success" style="border-radius:20px;"><i class="fa fa-paper-plane"></i>
 Generate</button>
	   </div>
		 
	  </div>
	  </div>
       
</body>

