body{
    background-color:#FFFFFF;
    font-size:15px;
    font-family:sans-serif;
    }
   
    .main{
    margin-left:230px;
    padding : 0px 10px;
    }
    #search{
    margin-left:800px;
    }
    .customerData{
    margin-top:50px;
    }
    #cusId{
    margin-left:50px;
    }
    #subId{
    margin-left:50px;
    }
    #loginName{
    margin-left:50px;
    }
    #customerId{
    width: 190px!important;
    margin-left:98px;
    }
    #technicalId{
    width: 190px!important;
    margin-left:80px;
    }
    #mobile{
    width: 190px!important;
    margin-left:101px;
    }
    .table-box{
    margin-top:50px;
    border:1px solid grey;
    border-radius:10px;
    padding-top:40px;
    width:90%;
    margin-left:30px;
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.15);
    padding-bottom:20px;
    }
    .table{
    width:90%;
    margin-left:48px;
    }
    button{
    margin-left:780px;
    }
    
    th{
    font-weight:normal;
    }